// =======================
// Tabs
// =======================

//Author portfolio additon to author.php
.author-portfolio {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0 20px 40px;
    min-height: 300px;
    background: #fff center center;
    background-size: cover;
    border-radius: 5px;
    box-shadow: rgba(39,44,49,0.06) 8px 14px 38px, rgba(39, 44, 49, 0.03) 1px 3px 8px;
    transition: all 0.5s ease;
    text-align: center;
    position: relative;
    border-bottom: #EBF2F6 1px solid;
}

.accordion-tabs-minimal {
    $base-border-color: #dcdcdc;
    $base-background-color: #fff;
    $action-color: #4a83d8;
    $tab-link-color: $darkgrey;
    $tab-border: 1px solid $base-border-color;
    $tab-active-background: $base-background-color;
    $tab-inactive-color: $base-background-color;
    $tab-inactive-hover-color: #c0c0c0;
    $gutter: $spacer/2;
    @include clearfix;

    line-height: 1.5;
    padding: 0 0 1rem 0;
    
    .tab-header-and-content {
        display: inline;
    }

    a {
        &:after {
            display: none;
        }
    }
    
    .tab-label {
        display: block;
        font-size: 1.2rem;
    }
    
    .tab-link {
        color: $tab-link-color;
        display: inline-block;
        padding: $spacer/2;
        text-decoration: none;
         svg {
            height: 3.8rem;
    width: 2.6rem;
    fill: $darkgrey;
}
        &:focus {
            outline: none;
            svg {
             outline: none;   
            }
        }
        &.is-active {
            color: $action-color;
            svg {
             fill: $action-color;   
            }
        }

        
    }
    .tab-content {
        display: none;
        width: 100%;
        float: left;
        img {
            width: 80%;
            vertical-align: middle;
            margin-bottom: $spacer;
            margin-top: $spacer/6;
            border-bottom: $border;
        }

        .last-image {
                margin-bottom: $spacer/2;
            }
        p {
            font-size: 1.3rem;
            a.behance-link {
                vertical-align: top;
                svg {
            height: 2rem;
    width: 2rem;
    fill: $darkgrey;
            }
            }
        }
    }
}

@media only screen and (min-width: 600px) {
       .accordion-tabs-minimal {
        margin-bottom: 0;
        .tab-content {
            padding: $spacer/2 $spacer/2;
            img {
                margin-bottom: $spacer/2;
            }
        }
    }
}

@media only screen and (min-width: 700px) {
       .accordion-tabs-minimal {
        .tab-content {
            img {
                width: 27%;
                margin-left: 1.5rem;
                margin-right: 1.5rem;
                border-bottom: 0;
            }
            p {
                margin-bottom: 0;
            }
        }
    }
}

@media only screen and (min-width: 900px) {
       .accordion-tabs-minimal {
        .tab-content {
            
            img {
                width: 28%;
                margin-left: 1.6rem;
                margin-right: 1.6rem;
            }
        }
    }

    .author-profile {
        padding-bottom: 4rem;
    }
}
