.site-nav-right {
    flex-shrink: 0;
    display: flex;
    align-items: center;

     .toggles {
      position: relative;
list-style-type: none;
margin-right: 25px;
    
    li {
      position: absolute;
  
}
.search-icon {
  left: -25px;
  top: -3px;
}
}

   svg {

      .cls-1,.cls-3{
        fill:none;
      }
      .cls-3{
        transition: all .3s ease-in-out;
        stroke:$toggle-color;
        stroke-miterlimit:10;
        stroke-width:2px;
      }
    }
}




.site-nav-right {
     
        .offcanvas-toggle{
          .toggle-line{
            background: $toggle-color;
          }
        }
        .search-toggle {
          svg .cls-3{
            stroke: $toggle-color;
          }
        }
        
        &.dark{

          .offcanvas-toggle{
            .toggle-line{
              background: $off-white;
            }
          }
          
          .search-toggle {
            svg .cls-3{
              stroke: $off-white;
            }
          }
        }
      
    }
